@font-face {
    font-family: button-content;
    src: url('../fonts/MonumentExtended-Regular.otf');
}

.button{
    display: flex;
    font-family: 'button-content';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    color: #FCA670;
    width: 223px;
    height: 60px;
    /* background-color: #4180EA; */
    align-items: center;
    /* position: relative; */
    /* border-radius: 24px; */
    justify-content: center;  
    flex-shrink: 0;
    
    background: linear-gradient(90deg, rgba(250, 112, 154, 0.2) 0%, rgba(254, 225, 64, 0.2) 100%);
opacity: 0.82;
border-radius: 38px;
}