@font-face {
    font-family: navbar-font;
    src: url('../fonts/bold.otf');
}

@font-face {
    font-family: navbar-items;
    src: url('../fonts/MonumentExtended-Regular.otf');
}

.navbar
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    
}

.logo
{
    font-family: navbar-font;
    font-weight: 700;
font-size: 60px;
letter-spacing: -0.03em;
background: linear-gradient(90deg, #FA709A 0%, #FEE140 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
/* text-fill-color: transparent; */
margin-left: 3rem;
}

.nav-items
{
    display: flex;
    margin-right: 3rem;
}
.nav-items li{
    list-style: none;
    padding: 0 2rem;
}

.nav-items li a{
    font-family: navbar-items;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
}

.active
{
    color: #EC9240;
}

.third-section
{
    color: #E09F57;
}